<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <img class="portrait" src="https://previews.123rf.com/images/chudtsankov/chudtsankov1703/chudtsankov170300154/74039251-scared-cartoon-funny-face-with-panic-expression-illustration-isolated-on-white-background.jpg">

        <p>{{text}}</p>
    </div>
    
    {{>footer}}
</body>

</html>